.account main
{
    display: grid;
    grid-template-rows: max-content auto;
    padding: 0 $default-spacing;
    background-color: rgba($primary-color, 0.5);
    overflow: auto;

    .top-section
    {
        display: none;

        .toolbar
        {
            display: flex;

            .search-bar
            {
                margin-bottom: 0;
                width: 100%;

                input
                {
                    color: $secondary-color;
                    background-color: rgba($primary-color, 0.5);
                    border: $border-width solid $secondary-color;
                    -webkit-appearance: textfield;

                    &::placeholder
                    {
                        color: $secondary-color;
                    }
                }

                &:focus-within input
                {
                    box-shadow: 0 0 0 $border-width * 2 $secondary-color;
                }
            }

            #add-content
            {
                margin-left: $default-spacing;
            }
        }

        .folder-nav
        {
            display: none;
            align-items: center;
            justify-content: space-between;
            margin-top: $default-spacing;

            .back-button
            {
                margin-right: $default-spacing;

                &.target
                {
                    box-shadow: 0 0 10px $secondary-color;
                }
            }

            .empty-trash-button
            {
                width: 100%;
            }

            .folder-name
            {
                @include text-ellipsis-on-overflow;

                margin: 0;

                .spinner
                {
                    font-size: unset;
                    margin: 0;
                }
            }
        }

        .vault-info
        {
            display: none;
        }

        @at-root .input-container
        {
            display: none;
        }
    }

    .empty-folder
    {
        display: none;
        flex-direction: column;
        align-items: center;

        h2
        {
            margin: 0;
            text-align: center;
        }

        img
        {
            width: 30%;
            margin: $default-spacing 0;
        }
    }

    .user-content
    {
        overflow: auto;
        padding: $default-spacing;
        padding-bottom: 0;
        margin: 0 #{-$default-spacing};

        .folders-container,
        .files-container
        {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
            gap: $default-spacing;
            margin-bottom: $default-spacing;

            &:empty
            {
                margin-bottom: 0;
            }
        }
    }
}

@each $element in ("vault", "folder", "file")
{
    div.#{$element}
    {
        display: flex;
        justify-content: space-between;
        background-color: $secondary-color;
        color: $primary-color;
        border: $border-width solid $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;
        transition: box-shadow $transition-time;
        overflow: auto;
        max-width: calc(100vw - #{$default-spacing * 2});
    
        .icon
        {
            display: flex;

            i
            {
                width: 40px;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
                padding: 5px;
                background-color: $primary-color;
                border-radius: $border-radius;
            }
        }
    
        .name
        {
            display: flex;
            align-items: center;
            margin: 0 0 0 $border-width;
            width: 100%;
            overflow: hidden;
            padding: 10px;
            background-color: $secondary-color;
    
            p
            {
                @include text-ellipsis-on-overflow;
    
                margin: 0;
            }
        }
    
        .menu-button
        {
            button
            {
                margin-left: $border-width;
                border-color: $primary-color;

                &:focus
                {
                    box-shadow: none;
                }
            }
        }
    
        @if ($element == "folder" or $element == "file")
        {
            &.dragging
            {
                position: fixed;
                z-index: 999;
            }
        
            &.placeholder,
            &.disabled
            {
                opacity: 0.5;

                &:hover
                {
                    &,
                    *
                    {
                        cursor: not-allowed !important;
                    }
                }
            }
        }

        &:hover:not(.no-hover),
        &:focus,
        &:focus-within,
        &.target,
        &.selected
        {
            box-shadow: 0 0 0 5px $secondary-color;
        }
    }
}

div.vault
{
    background-color: #444d56;
    color: $secondary-color;
    border-color: #444d56;
    margin-bottom: $default-spacing;
    display: none;
    
    .icon
    {
        i
        {
            background-image: url("/assets/img/icons/languages/lock.svg");
        }
    }
    
    .name
    {
        background-color: #444d56;
    }

    .menu-button
    {
        button
        {
            background-color: #444d56;
            border-color: $secondary-color;

            &:focus,
            &:hover
            {
                background-color: $secondary-color;
                color: #444d56;
                box-shadow: none;
            }
        }
    }

    &.disabled.target:hover
    {
        box-shadow: unset;

        &,
        *
        {
            cursor: not-allowed !important;
        }
    }
}

div.file
{
    .name
    {
        background-color: $primary-color;
        color: $secondary-color;
        border-radius: $border-radius;
    }
}