aside
{
    @include flex($align-items: unset);

    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    height: auto;
    z-index: 2;
    background-color: rgba($color: $primary-color, $alpha: 0.8);

    button
    {
        @include button($bg-color: rgba($color: $secondary-color, $alpha: 0.1), $color: rgba($color: $secondary-color, $alpha: 0.5), $hover-effect: none, $has-border: false, $has-border-radius: false);

        padding: 5px;
        width: 100%;

        span
        {
            display: none;
            font-size: 15px;
        }

        &.selected
        {
            color: $secondary-color;

            span
            {
                display: block;
            }
        }

        &:focus,
        &:hover
        {
            background-color: rgba($color: $secondary-color, $alpha: 0.2);
            color: $secondary-color;
        }
    }
}