aside
{
    @include flex($align-items: unset);

    width: 100%;
    background-color: $primary-color;

    button:not(:disabled)
    {
        padding: 5px;
        width: 20%;
        background-color: rgba($secondary-color, 0.1);
        color: rgba($secondary-color, 0.5);
        border: none;
        border-radius: 0;

        span
        {
            @include text-ellipsis-on-overflow;

            display: none;
            font-size: 15px;
        }

        &.selected
        {
            color: $secondary-color;

            span
            {
                display: block;
            }
        }

        &:focus,
        &:hover
        {
            background-color: rgba($secondary-color, 0.2);
            color: $secondary-color;
        }
    }
}