footer
{
    padding: $default-spacing;
    background-color: $secondary-color;

    .copyright
    {
        color: $primary-color;
        margin: 0;

        a
        {
            color: $primary-color;
        }
    }

    .links
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        a
        {
            text-decoration: none;
            color: $primary-color;
            margin: $default-spacing;
            margin-bottom: 0;

            &:focus,
            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    hr
    {
        margin: $default-spacing 0;
        border: #{$border-width / 4} solid $primary-color;
    }

    .language
    {
        .edit
        {
            font-size: medium;
            background-color: transparent;
            color: $primary-color;
            padding: 0;
            border: none;

            &:focus,
            &:hover
            {
                text-decoration: underline;
            }
        }

        #language-select
        {
            display: none;
        }
    }
}