footer
{
    padding: $standard-spacing;
    background-color: $secondary-color;

    .copyright
    {
        color: $primary-color;
        margin: 0;
    }

    .links
    {
        @include flex($justify-content: space-evenly, $flex-wrap: wrap);

        a
        {
            text-decoration: none;
            color: $primary-color;
            margin: $standard-spacing;
            margin-bottom: 0;

            &:hover
            {
                text-decoration: underline;
            }
        }
    }

    hr
    {
        margin: $standard-spacing 0;
        border: #{$border-width / 4} solid $primary-color;
    }
}