button,
.button
{
    font-family: inherit;
    margin: 0; // In Safari buttons have a 2px margin by default
    background-color: $primary-color;
    color: $secondary-color;
    border: $border-width solid $secondary-color;
    border-radius: $border-radius;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: $transition-time;
    text-align: center;
    text-decoration: none;

    &.transparent
    {
        background-color: rgba($primary-color, 0.5);

        &:hover
        {
            color: $primary-color;
            background-color: $secondary-color;
        }

        &:disabled:hover
        {
            background-color: rgba($primary-color, 0.5);
        }
    }

    &.inverted
    {
        color: $primary-color;
        background-color: $secondary-color;

        &:hover
        {
            color: $secondary-color;
            background-color: $primary-color;
        }
    }

    &:focus
    {
        box-shadow: 0 0 0 $border-width * 2 $secondary-color;
    }

    &:hover
    {
        background-color: $secondary-color;
        color: $primary-color;
    }

    &:disabled:hover
    {
        background-color: $primary-color;
        color: $secondary-color;
    }

    &:disabled
    {
        cursor: not-allowed;
        opacity: 0.7;
        transition: 0ms;
    }
}

select
{
    width: 100%;
    margin-bottom: $default-spacing;
    font-family: $font-family;
    background-color: $secondary-color;
    color: $primary-color;
    font-size: 20px;
    cursor: pointer;
    transition: $transition-time;
    padding: 10px;
    border: $border-width solid $primary-color;
    border-radius: $border-radius;
    -webkit-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23160c28'><polygon points='0,0 100,0 50,50'/></svg>");
    background-size: 12px;
    background-position: right 10px top 60%;
    background-repeat: no-repeat;

    &:focus
    {
        box-shadow: 0 0 0 $border-width * 2 $primary-color
    }

    &:hover
    {
        background-color: $primary-color;
        color: $secondary-color;
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%23efcb68'><polygon points='0,0 100,0 50,50'/></svg>");
    }
}

.input
{
    border-radius: $border-radius;
    margin-bottom: $default-spacing;

    .label
    {
        margin-bottom: 5px;
        display: block;
    }

    input
    {
        font-family: inherit;
        font-size: 20px;
        width: 100%;
        margin: 0; // Safari puts margins by default
        padding: 10px;
        color: $primary-color;
        background-color: $secondary-color;
        border: $border-width solid $primary-color;
        border-radius: $border-radius;
        transition: $transition-time;

        &.error
        {
            color: $secondary-color;
            background-color: $primary-color;
        }

        & + .input-error
        {
            margin: 0;
            margin-top: 5px;
            font-weight: $black;
        }
    }

    &:focus-within input
    {
        box-shadow: 0 0 0 $border-width * 2 $primary-color;
    }
}