@import 'cookie-banner';

header
{
    @include flex($justify-content: space-between);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    padding: $standard-spacing;
    width: 100%;
    height: $header-height;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    .logo
    {
        a
        {
            @include flex;

            border-radius: $border-radius;
            transition: $transition-time;

            img
            {
                height: #{$header-height - $standard-spacing * 2};
            }

            &:hover,
            &:focus
            {
                box-shadow: 0 0 0 $border-width $secondary-color;
            }
        }
    }

    .sign-in
    {
        @include button($bg-color: transparent, $has-border: false, $has-padding: false, $hover-effect: underline);

        font-size: 15px;
    }

    & + .menu
    {
        display: none;
        border: $border-width solid $secondary-color;
        border-radius: $border-radius;
        position: fixed;
        top: $header-height;
        right: $standard-spacing;
        z-index: 999;
        background-color: rgba($primary-color, 0.8);
        backdrop-filter: blur(20px);
        padding: $standard-spacing;
        max-width: calc(100% - #{$standard-spacing * 2});
        max-height: calc(100% - #{$header-height + $standard-spacing});
        overflow: auto;
        overflow-x: hidden;
        overscroll-behavior: contain;

        .account,
        .settings,
        button
        {
            @include button($bg-color: transparent, $focus-effect: box-shadow, $hover-bg-color: $secondary-color, $hover-color: $primary-color);

            width: 100%;
        }

        .account,
        .settings,
        .bmc-button
        {
            margin-bottom: $standard-spacing;
            border-radius: 25px;
            text-decoration: none;
            text-align: center;
            display: block;
        }

        hr
        {
            margin: $standard-spacing 0;
            border: #{$border-width / 4} solid $secondary-color;
            width: calc(100% + #{$standard-spacing * 2});
            margin-left: -$standard-spacing;
        }

        .user
        {
            img
            {
                display: block;
                height: 100px;
                border-radius: 50%;
                margin: auto;
                margin-bottom: $standard-spacing;
            }

            p
            {
                @include text-ellipsis-on-overflow;

                margin: 0;
                font-weight: $black;
                text-align: center;
                font-size: 25px;

                &:last-child
                {
                    font-weight: $light;
                    font-size: 20px;
                    margin-bottom: $standard-spacing;
                }
            }
        }

        .storage
        {
            margin: $standard-spacing 0;

            p
            {
                @include text-ellipsis-on-overflow;
                    
                margin: 0;
                text-align: center;
            }

            .used-container
            {
                background-color: rgba($color: $secondary-color, $alpha: 0.1);
                border-radius: $border-radius;

                .used
                {
                    height: 5px;
                    background-color: $secondary-color;
                    border-radius: $border-radius;
                    margin-top: 5px;
                    width: 0%;
                    transition: $transition-time;
                }
            }

            .spinner
            {
                display: inline;
                margin: 0;
                font-size: 16px;
            }
        }

        .install-pwa
        {
            &,
            & + hr
            {
                display: none;
            }
        }

        .links
        {
            a,
            span
            {
                color: $secondary-color;
                font-size: 12px;
            }

            a
            {
                padding: 4px 8px;
                margin: auto;
                text-decoration: none;
                display: block;
                width: max-content;
    
                &.privacy
                {
                    margin-right: #{$standard-spacing / 2};
                }
    
                &.terms
                {
                    margin-left: #{$standard-spacing / 2};
                }

                &:hover,
                &:focus
                {
                    text-decoration: underline;
                }
            }

            .legal
            {
                @include flex;

                margin-bottom: $standard-spacing;
            }
        }
    }

    .waiting-user .spinner
    {
        @include flex;

        font-size: #{$header-height - $standard-spacing * 2};
        margin: 0;
        position: fixed;
        top: $standard-spacing;
        right: $standard-spacing;

        i
        {
            width: unset;
        }
    }

    .menu-toggle
    {
        button
        {
            @include flex;
            @include button($bg-color: transparent, $color: unset, $has-border: false, $has-padding: false, $hover-effect: none);

            border-radius: 50%;

            img
            {
                height: #{$header-height - $standard-spacing * 2};
                width: #{$header-height - $standard-spacing * 2};
                border-radius: 50%;
            }

            &:focus
            {
                box-shadow: 0 0 0 $border-width $secondary-color;
            }
        }
    }
}

@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)))
{
    header,
    header + .menu
    {
        background-color: $primary-color;
    }
}