@import 'cookie-banner';

header
{
    @include flex($justify-content: space-between);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($color: $primary-color, $alpha: 0.5);
    padding: $standard-spacing;
    width: 100%;
    height: $header-height;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    .logo
    {
        a
        {
            @include flex;

            border-radius: $border-radius;
            transition: $transition-time;

            img
            {
                height: #{$header-height - $standard-spacing * 2};
            }

            &:focus
            {
                box-shadow: 0 0 0 $border-width $secondary-color;
            }
        }
    }

    .sign-in
    {
        font-size: 15px;
        background-color: transparent;
        border: none;
        padding: 0;

        &:focus,
        &:hover
        {
            text-decoration: underline;
            background-color: unset;
            color: currentColor;
        }
    }

    .waiting-user .spinner
    {
        @include flex;

        font-size: #{$header-height - $standard-spacing * 2};
        margin: 0;
        position: fixed;
        top: $standard-spacing;
        right: $standard-spacing;

        i
        {
            width: unset;
        }
    }

    .menu-toggle
    {
        button
        {
            @include flex;

            border-radius: 50%;
            background-color: transparent;
            border: none;
            padding: 0;

            img
            {
                height: #{$header-height - $standard-spacing * 2};
                width: #{$header-height - $standard-spacing * 2};
                border-radius: 50%;
            }

            &:focus
            {
                box-shadow: 0 0 0 $border-width $secondary-color;
            }
        }
    }

    & + .menu-container
    {
        @include flex;

        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 999;
        display: none;

        .menu
        {
            border: $border-width solid $secondary-color;
            border-radius: $border-radius;
            background-color: rgba($primary-color, 0.5);
            backdrop-filter: blur(20px);
            padding: $standard-spacing;
            max-width: calc(100% - #{$standard-spacing * 2});
            max-height: calc(100% - #{$standard-spacing * 2});
            overflow: auto;
            overflow-x: hidden;
            overscroll-behavior: contain;

            .account,
            .settings,
            .storage-info,
            .upgrade-plan,
            button
            {
                width: 100%;
                background-color: transparent;
                color: $secondary-color;

                &:hover
                {
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }

            .account,
            .settings,
            .storage-info,
            .upgrade-plan
            {
                margin-bottom: $standard-spacing;
                border-radius: 25px;
                text-decoration: none;
                text-align: center;
                display: block;
            }

            hr
            {
                margin: $standard-spacing 0;
                border: #{$border-width / 4} solid $secondary-color;
                width: calc(100% + #{$standard-spacing * 2});
                margin-left: -$standard-spacing;
            }

            .user
            {
                img
                {
                    display: block;
                    height: 100px;
                    border-radius: 50%;
                    margin: auto;
                    margin-bottom: $standard-spacing;
                }

                p
                {
                    @include text-ellipsis-on-overflow;

                    margin: 0;
                    font-weight: $black;
                    text-align: center;
                    font-size: 25px;

                    &:last-child
                    {
                        font-weight: $light;
                        font-size: 20px;
                        margin-bottom: $standard-spacing;
                    }
                }
            }

            .storage
            {
                margin: $standard-spacing 0;

                p
                {
                    @include text-ellipsis-on-overflow;
                        
                    margin: 0;
                    text-align: center;
                }

                .used-container
                {
                    background-color: rgba($color: $secondary-color, $alpha: 0.1);
                    border-radius: $border-radius;

                    .used
                    {
                        height: 5px;
                        background-color: $secondary-color;
                        border-radius: $border-radius;
                        margin-top: 5px;
                        width: 0%;
                        transition: $transition-time;
                    }
                }

                .upgrade-plan,
                .storage-info
                {
                    margin-top: $standard-spacing;
                }

                .spinner
                {
                    display: inline;
                    margin: 0;
                    font-size: 16px;
                }
            }

            .install-pwa
            {
                &,
                & + hr
                {
                    display: none;
                }
            }

            .links
            {
                a,
                span
                {
                    color: $secondary-color;
                    font-size: 12px;
                }

                a
                {
                    padding: 4px 8px;
                    margin: auto;
                    text-decoration: none;
                    display: block;
                    width: max-content;
        
                    &.privacy
                    {
                        margin-right: #{$standard-spacing / 2};
                    }
        
                    &.terms
                    {
                        margin-left: #{$standard-spacing / 2};
                    }

                    &:hover,
                    &:focus
                    {
                        text-decoration: underline;
                    }
                }

                .legal
                {
                    @include flex;

                    margin-bottom: $standard-spacing;
                }
            }
        }
    }
}

@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)))
{
    header + .menu-container .menu
    {
        background-color: $primary-color;
    }

    body:not(.account):not(.settings)
    {
        header
        {
            background-color: $primary-color;
        }
    }
}