.home-features
{
    margin: 0 $default-spacing;

    .home-feature-container
    {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: $default-spacing;
        border-radius: $border-radius;
        margin: $default-spacing 0;
        background-color: $secondary-color;
        color: $primary-color;

        img
        {
            max-width: 90%;
            height: 30vh;
        }

        div
        {
            width: 30%;

            h1,
            p
            {
                margin: 0;
                
                &:not(:last-child)
                {
                    margin-bottom: $default-spacing;
                }
            }
        }

        &:nth-child(2n)
        {
            flex-direction: row-reverse;
            background-color: $primary-color;
            color: $secondary-color;
        }
    }
}