.home-features
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: $default-spacing;
    margin: $default-spacing;

    .home-feature-container
    {
        display: flex;
        flex-direction: column;
        padding: $default-spacing;
        border-radius: $border-radius;
        background-color: rgba($secondary-color, 0.1);
        max-width: calc(100vw - #{$default-spacing * 2});

        img
        {
            height: 250px;
        }

        div
        {
            margin-top: $default-spacing * 2;

            h1,
            p
            {
                margin: 0;
                
                &:not(:last-child)
                {
                    margin-bottom: $default-spacing;
                }
            }
        }
    }
}