.modal-container
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    &.no-background
    {
        height: unset;
        width: unset;
    }
}

.modal
{
    position: fixed;
    bottom: 0;
    left: 0;
    border: $border-width solid $secondary-color;
    width: 100%;
    padding: $standard-spacing;
    border-top-left-radius: $standard-spacing;
    border-top-right-radius: $standard-spacing;
    background-color: $secondary-color;
    z-index: 11;
    transform: translateY(calc(100% + #{$standard-spacing}));
    color: $primary-color;
    max-height: calc(100% - #{$header-height});
    overflow: auto;

    .content
    {
        user-select: text;

        .transfer-info
        {
            @include flex($justify-content: space-between);

            margin-bottom: $standard-spacing;

            .progress-bar-container
            {
                width: 100%;
                margin-right: $standard-spacing;

                .progress-bar
                {
                    height: 5px;
                    background-color: $primary-color;
                    display: block;
                    border-radius: $border-radius;
                    width: 0%;
                    transition: $transition-time;
                }
            }

            .status
            {
                margin: 0;
                white-space: nowrap;
            }
        }

        .upload-controls
        {
            @include flex($justify-content: flex-end);

            .upload-control
            {
                background-color: transparent;
                color: $primary-color;
                border: none;
                padding: 0;

                &.resume
                {
                    display: none;
                }

                &:last-child
                {
                    margin-left: $standard-spacing;
                }
            }
        }
    }

    .title,
    .subtitle
    {
        @include text-ellipsis-on-overflow;

        margin-top: 0;
        margin-bottom: $standard-spacing;
        user-select: none;
    }

    p:not(.input-error):not(.status)
    {
        @include text-ellipsis-on-overflow;

        margin: 0;
        margin-bottom: $standard-spacing;

        & > span:first-child
        {
            font-weight: $bold;
            display: block;
        }
    }

    .input
    {
        @include input-container($bg-color: $secondary-color, $color: $primary-color, $has-icon: false);
    }

    .input-with-icon
    {
        @include input-container($bg-color: $secondary-color, $color: $primary-color);

        input
        {
            margin-bottom: 0;
        }
    }

    button
    {
        &:not(.close-button):not(.update-button):not(.confirm-button):not(.upload-control):not(.input-icon)
        {
            width: 100%;
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $primary-color;

            &:focus,
            &:hover
            {
                background-color: $primary-color;
                color: $secondary-color;
            }
        }

        &:not(.close-button):not(.input-icon):not(.upload-control)
        {
            margin-bottom: $standard-spacing;
        }

        &.close-button,
        &.update-button,
        &.confirm-button
        {
            display: none;
            width: 100%;
            border-color: $primary-color;
        }
    }

    a
    {
        color: $primary-color;

        &:hover
        {
            text-decoration: none;
        }
    }

    &.show
    {
        animation: account-modal-show 100ms linear forwards;

        &.no-animate
        {
            animation: account-modal-show 0ms linear forwards;
        }
    }

    &.hide
    {
        animation: account-modal-hide 100ms linear forwards;

        &.no-animate
        {
            animation: account-modal-hide 0ms linear forwards;
        }
    }

    &.floating
    {
        bottom: $standard-spacing;
        left: $standard-spacing;
        width: calc(100% - (#{$standard-spacing} * 2));
        border-radius: $standard-spacing;
    }

    &.aside
    {
        width: 30%;
    }
}

.spinner
{
    font-size: 40px;
    margin: $standard-spacing;
    display: block;
    text-align: center;

    i
    {
        @include animation($name: rotate, $duration: 1s, $timing-function: linear, $iteration-count: infinite);
    }
}

.input,
.input-with-icon
{
    @include flex($align-items: unset, $justify-content: unset);
    @include input-container;

    margin-bottom: $standard-spacing;

    input
    {
        width: 100%;
        margin: 0; // Safari puts margins by default
    }
}

.input
{
    @include input-container($has-icon: false);
}

.input-error
{
    margin: 0;
    color: $primary-color;
    margin-bottom: $standard-spacing;
    border-radius: $border-radius;
}

.context-menu-container
{
    @include flex;

    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: $standard-spacing;
    display: none;

    .context-menu
    {
        border: $border-width solid $secondary-color;
        border-radius: $border-radius;
        background-color: rgba($primary-color, 0.5);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        overflow: auto;
        width: fit-content;

        button
        {
            display: block;
            width: 100%;
            text-align: start;
            background-color: transparent;
            border: none;
            border-radius: 0;

            &:focus,
            &:hover
            {
                background-color: $secondary-color;
                color: $primary-color;
            }
        }

        #move-selector
        {
            .options div
            {
                @include flex($align-items: unset);

                span
                {
                    margin-left: $standard-spacing;
                }

                .goto
                {
                    display: inline-block;
                    width: unset;
                }
            }

            p
            {
                margin: $standard-spacing;
            }
        }
    }

    @supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)))
    {
        .context-menu
        {
            background-color: $primary-color;
        }
    }
}

.generic-message
{
    @include flex;

    display: none;
    max-width: calc(100% - #{$standard-spacing * 2});
    position: fixed;
    bottom: $standard-spacing;
    left: $standard-spacing;
    padding: $standard-spacing;
    background-color: $secondary-color;
    color: $primary-color;
    z-index: 999;
    border-radius: $border-radius;

    p
    {
        margin: 0;
        font-weight: $bold;
        word-break: break-word;
    }

    button
    {
        margin-left: $standard-spacing;
        padding: 5px;
        font-size: 15px;
        border-color: $primary-color;

        &.dismiss
        {
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $secondary-color;
        }
    }

    .spinner
    {
        display: none;
        margin: 0;
        font-size: 20px;
    }
}

.show-file
{
    display: none;
    position: absolute;
    top: $header-height;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: calc(100% - #{$header-height});
    overflow: hidden;
    background-color: $primary-color;

    .tabs
    {
        @include flex($justify-content: start);

        overflow: auto;
        background-color: #2d2d2d;

        .tab
        {
            @include flex;

            padding: $standard-spacing;
            cursor: pointer;
            max-width: 100%;

            .icon
            {
                @include flex;

                i
                {
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-origin: content-box;
                }
            }

            .name
            {
                @include text-ellipsis-on-overflow;

                margin: 0 $standard-spacing / 2;
            }

            .menu,
            .close
            {
                padding: 5px;
                font-size: 15px;
                background-color: transparent;

                &:focus,
                &:hover
                {
                    background-color: $secondary-color;
                    color: #2d2d2d;
                }
            }

            .close
            {
                margin-left: $standard-spacing;
            }

            &.active
            {
                background-color: #1e1e1e;

                .menu:hover,
                .close:hover
                {
                    color: #1e1e1e;
                }
            }

            &.modified
            {
                .name
                {
                    &::before
                    {
                        content: "*";
                    }
                }
            }
        }
    }

    .editor
    {
        @include flex;

        width: 100%;
        height: 100%;

        .spinner
        {
            margin: 0;
        }
    }
}

.file-preview-container
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: $standard-spacing;
    display: none;

    .menu
    {
        @include flex($justify-content: flex-end);

        position: relative;
        z-index: inherit;
    }

    .file-preview
    {
        @include flex;

        margin-top: $standard-spacing;
        height: calc(100vh - #{$standard-spacing * 3} - 49px);

        canvas,
        iframe
        {
            position: absolute;
            max-width: calc(100vw - 30px);
            max-height: calc(100vh - #{$standard-spacing * 3} - 49px);
        }
    
        iframe
        {
            top: $standard-spacing * 2 + 49px;
            width: 100%;
            height: 100%;
        }
    }
}

.hide-vault-content
{
    @include flex;

    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    font-size: 50px;
}

.plans
{
    .plan
    {
        padding: $standard-spacing;
        background-color: rgba($primary-color, 0.5);
        margin-top: $standard-spacing;
        border: $border-width solid $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;
        transition: $transition-time;

        div
        {
            @include flex($align-items: baseline, $justify-content: unset);

            .price
            {
                font-weight: $black;
                font-size: xx-large;
                font-size: xxx-large;
            }

            .billing-period
            {
                white-space: pre;
            }
        }

        .storage
        {
            font-size: x-large;
            margin: 0;
        }

        &.current,
        &.selected
        {
            color: $primary-color;
            background-color: $secondary-color;
        }

        &:hover
        {
            box-shadow: 0 0 0 5px $secondary-color;
        }
    }
}

.StripeElement:not(#payment-request-button)
{
    padding: $standard-spacing;
    border: $border-width solid $primary-color;
    border-radius: $border-radius;
    background-color: $primary-color;
    margin-bottom: $standard-spacing;

    &--invalid
    {
        border-color: red;
    }
}

.firebaseui-auth-container
{
    @include flex($flex-direction: column);

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba($primary-color, 0.8);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: $standard-spacing;
    display: none;

    .close
    {
        @include flex;

        position: absolute;
        top: $standard-spacing;
        right: $standard-spacing;
        border: none;
        padding: 0;
        background-color: transparent;

        &:focus,
        &:hover
        {
            background-color: unset;
            color: currentColor;
        }
    }

    .firebaseui-container
    {
        .firebaseui-card-content
        {
            form
            {
                @include flex($flex-direction: column);

                .firebaseui-idp-list
                {
                    margin: 0;
                    padding: 0;
                    width: max-content;

                    .firebaseui-list-item
                    {
                        display: block;
                        width: 100%;
                        margin-bottom: $standard-spacing;

                        .firebaseui-idp-button
                        {
                            @include flex($justify-content: start);
                            
                            border-radius: $border-radius;
                            color: #fff;
                            font-size: 15px;
                            width: 100%;
                            background-color: unset;
                            border: none;

                            .firebaseui-idp-icon-wrapper
                            {
                                @include flex;

                                .firebaseui-idp-icon
                                {
                                    height: 18px;
                                    margin-right: $standard-spacing;
                                }
                            }

                            .firebaseui-idp-text-short
                            {
                                display: none;
                            }

                            &.firebaseui-idp-google > .firebaseui-idp-text
                            {
                                color: #757575;
                            }

                            &[data-provider-id="yahoo.com"] .firebaseui-idp-icon
                            {
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }

        .firebaseui-tos
        {
            margin: 0;
            font-size: 12px;
            color: #757575;
            text-align: center;

            a
            {
                color: #4285f4;
                text-decoration: none;

                &:hover
                {
                    text-decoration: underline;
                }
            }
        }

        &.firebaseui-id-page-callback
        {
            // Hide the white box after sign-in
            display: none;
        }
    }
}

@supports not ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)))
{
    .firebaseui-auth-container
    {
        background-color: $primary-color;
    }
}

.multiple-content-selector
{
    position: absolute;
    border: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
    border-radius: $border-radius;
    backdrop-filter: opacity(0.8);
    display: none;
}