.modal-container
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;

    &.no-background
    {
        height: unset;
        width: unset;
    }
}

.modal
{
    position: fixed;
    bottom: 0;
    left: 0;
    border: $border-width solid $secondary-color;
    width: 100%;
    padding: $default-spacing;
    border-top-left-radius: $default-spacing;
    border-top-right-radius: $default-spacing;
    background-color: $secondary-color;
    transform: translateY(calc(100% + #{$default-spacing}));
    color: $primary-color;
    max-height: calc(100% - #{$header-height});
    overflow: auto;

    .content
    {
        user-select: text;

        .transfer-info
        {
            display: flex;
            align-items: center;

            margin-bottom: $default-spacing;

            .progress-bar-container
            {
                width: 100%;
                margin-right: $default-spacing;

                .progress-bar
                {
                    height: 5px;
                    background-color: $primary-color;
                    display: block;
                    border-radius: $border-radius;
                    width: 0%;
                    transition: $transition-time;
                }
            }

            .status
            {
                margin: 0;
                white-space: nowrap;
            }
        }

        .upload-controls
        {
            display: flex;
            justify-content: flex-end;
            margin-bottom: $default-spacing;

            .upload-control
            {
                background-color: transparent;
                color: $primary-color;
                border: none;
                padding: 0;

                &.resume
                {
                    display: none;
                }

                &:last-child
                {
                    margin-left: $default-spacing;
                }
            }
        }
    }

    .title,
    .subtitle
    {
        @include text-ellipsis-on-overflow;

        margin: 0;
        margin-bottom: $default-spacing;
        user-select: none;

        &:empty
        {
            display: none;
        }
    }

    .subtitle
    {
        font-weight: $medium;
    }

    .title:not(:empty) + .subtitle:not(:empty)
    {
        margin-top: -$default-spacing;
    }

    p:not(.input-error):not(.status)
    {
        @include text-ellipsis-on-overflow;

        margin: 0;
        margin-bottom: $default-spacing;

        &.multiline,
        &.firebaseui-tos
        {
            white-space: unset;
        }

        & > span:first-child
        {
            font-weight: $bold;
            display: block;
        }
    }

    button
    {
        width: 100%;
        border-color: $primary-color;

        &:focus
        {
            box-shadow: 0 0 0 $border-width * 2 $primary-color;
        }

        &:not(.close-button):not(.input-icon):not(.upload-control)
        {
            margin-bottom: $default-spacing;
        }

        &.update-button,
        &.confirm-button
        {
            display: none;
        }
    }

    a
    {
        color: $primary-color;

        &:focus,
        &:hover
        {
            text-decoration: none;
        }
    }

    &.show
    {
        animation: account-modal-show 100ms linear forwards;
    }

    &.hide
    {
        animation: account-modal-hide 100ms linear forwards;
    }

    &.no-animate
    {
        animation-duration: 0ms;
    }

    &.floating
    {
        bottom: $default-spacing;
        left: $default-spacing;
        width: calc(100% - (#{$default-spacing} * 2));
        border-radius: $default-spacing;
    }

    &.aside
    {
        width: 30%;
    }
}

.spinner
{
    font-size: 40px;
    margin: $default-spacing;
    display: block;
    text-align: center;

    i
    {
        animation: rotate 1s linear infinite;
    }
}

.context-menu-container
{
    display: none;
}

#move-selector
{
    .options div
    {
        display: flex;

        span
        {
            margin-left: $default-spacing;
        }

        .select
        {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        .goto
        {
            width: unset;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: none;
        }
    }
}

.generic-message
{
    display: none;
    align-items: center;
    max-width: calc(100% - #{$default-spacing * 2});
    position: fixed;
    bottom: $default-spacing;
    left: $default-spacing;
    padding: $default-spacing;
    background-color: $secondary-color;
    color: $primary-color;
    z-index: 999;
    border-radius: $border-radius;

    p
    {
        margin: 0;
        font-weight: $bold;
        word-break: break-word;
    }

    button
    {
        margin-left: $default-spacing;
        padding: 5px;
        font-size: 15px;
        border-color: $primary-color;

        &.dismiss
        {
            background-color: $secondary-color;
            color: $primary-color;
            border-color: $secondary-color;
        }

        &:focus
        {
            box-shadow: 0 0 0 $border-width * 2 $primary-color;
        }
    }

    .spinner
    {
        display: none;
        margin: 0;
        font-size: 20px;
    }
}

.show-file
{
    display: none;
    position: absolute;
    top: $header-height;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: calc(100% - #{$header-height});
    overflow: hidden;
    background-color: $primary-color;

    .tabs
    {
        display: flex;
        overflow: auto;
        background-color: #2d2d2d;

        .tab
        {
            display: flex;
            align-items: center;
            padding: $default-spacing;
            cursor: pointer;
            max-width: 100%;

            .icon
            {
                display: flex;

                i
                {
                    width: 20px;
                    height: 20px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-origin: content-box;
                }
            }

            .name
            {
                @include text-ellipsis-on-overflow;

                margin: 0 $default-spacing / 2;
            }

            .menu,
            .close
            {
                padding: 5px;
                font-size: 15px;
                background-color: transparent;

                &:focus,
                &:hover
                {
                    background-color: $secondary-color;
                    color: #2d2d2d;
                }
            }

            .close
            {
                margin-left: $default-spacing;
            }

            &.active
            {
                background-color: #1e1e1e;

                .menu:hover,
                .close:hover
                {
                    color: #1e1e1e;
                }
            }

            &.modified
            {
                .name
                {
                    &::before
                    {
                        content: "*";
                    }
                }
            }
        }
    }

    .editor
    {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .spinner
        {
            margin: 0;
        }

        & > span
        {
            margin: 0 $default-spacing;
        }
    }
}

.file-preview-container
{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: $default-spacing;
    display: none;

    .menu
    {
        display: flex;
        justify-content: flex-end;
        position: relative;
        z-index: inherit;
    }

    .file-preview
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $default-spacing;
        height: calc(100vh - #{$default-spacing * 3} - 49px);

        canvas,
        iframe
        {
            position: absolute;
            max-width: calc(100vw - 30px);
            max-height: calc(100vh - #{$default-spacing * 3} - 49px);
        }
    
        iframe
        {
            top: $default-spacing * 2 + 49px;
            width: 100%;
            height: 100%;
        }
    }
}

.hide-vault-content
{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 50px;
}

.billing-period-choice
{
    h2
    {
        margin: 0;
        margin-bottom: $default-spacing;
        font-weight: $regular;
    }

    .billing-periods
    {
        display: flex;

        button
        {
            width: 100%;

            &.selected
            {
                background-color: $secondary-color;
                color: $primary-color;
            }

            &:first-of-type
            {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-of-type
            {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                border-left: none;
            }
        }
    }
}

.plans
{
    .plan
    {
        padding: $default-spacing;
        background-color: rgba($primary-color, 0.5);
        margin-top: $default-spacing;
        border: $border-width solid $secondary-color;
        border-radius: $border-radius;
        cursor: pointer;
        transition: $transition-time;

        div
        {
            .price
            {
                font-weight: $black;
                font-size: xx-large;
                font-size: xxx-large;
            }
        }

        .storage
        {
            font-size: x-large;
            margin: 0;
        }

        &.current,
        &.selected
        {
            color: $primary-color;
            background-color: $secondary-color;
        }

        &:focus,
        &:hover
        {
            box-shadow: 0 0 0 5px $secondary-color;
        }
    }
}

.firebaseui-auth-container
{
    display: none;

    .firebaseui-container
    {
        width: 100%;

        .firebaseui-card-content
        {
            form
            {
                display: flex;
                justify-content: center;

                .firebaseui-idp-list
                {
                    margin: 0;
                    padding: 0;

                    .firebaseui-list-item
                    {
                        display: block;

                        .firebaseui-idp-button
                        {
                            display: flex;
                            align-items: center;
                            border-radius: $border-radius;
                            color: #fff;
                            font-size: 15px;
                            width: 100%;
                            background-color: unset;
                            border: none;

                            .firebaseui-idp-icon-wrapper
                            {
                                display: flex;

                                .firebaseui-idp-icon
                                {
                                    height: 18px;
                                    margin-right: $default-spacing;
                                }
                            }

                            .firebaseui-idp-text-short
                            {
                                display: none;
                            }

                            &.firebaseui-idp-google > .firebaseui-idp-text
                            {
                                color: #757575;
                            }

                            &[data-provider-id="yahoo.com"] .firebaseui-idp-icon
                            {
                                transform: scale(1.5);
                            }
                        }
                    }
                }
            }
        }

        .firebaseui-tos
        {
            font-size: 12px;
            text-align: center;

            a
            {
                color: #4285f4;
                text-decoration: none;

                &:focus,
                &:hover
                {
                    text-decoration: underline;
                }
            }
        }

        &.firebaseui-id-page-callback
        {
            // Hide the white box after sign-in
            display: none;
        }
    }
}

.multiple-content-selector
{
    position: absolute;
    border: 1px solid rgba($color: $secondary-color, $alpha: 0.5);
    border-radius: $border-radius;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

main.terms,
main.privacy,
main.error,
main.accessibility,
main.plans
{
    margin: $default-spacing;
    margin-top: $header-height;
    min-height: calc(100% - #{$default-spacing});

    h1
    {
        margin-top: 0;
    }

    a
    {
        color: $secondary-color;

        &:hover
        {
            text-decoration: none;
        }
    }
}

main.error
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h2
    {
        margin-top: 0;
    }
}

main.accessibility
{
    li
    {
        font-weight: $light;

        .shortcut
        {
            font-weight: $black;
        }
    }
}

.info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $secondary-color;
    color: $primary-color;
    padding: $default-spacing;
    border-radius: $border-radius;
    margin-top: $default-spacing;

    p
    {
        margin: 0;
        margin-left: $default-spacing;
    }
}