@mixin flex ($align-items: center, $justify-content: center, $flex-direction: row, $flex-wrap: unset)
{
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin text-ellipsis-on-overflow
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}