.settings main
{
    height: calc(100% - #{$header-height});
    padding: 0 $standard-spacing;
    background-color: rgba($primary-color, 0.5);

    .settings-section
    {
        margin: $standard-spacing 0;
        display: none;

        & > h1
        {
            font-size: 35px;
            margin: $standard-spacing 0;
        }

        .setting
        {
            @include flex($justify-content: space-between);
            
            padding: $standard-spacing;
            border: $border-width solid $secondary-color;
            border-radius: $border-radius;

            h2
            {
                margin: 0;
                font-weight: $light;
            }
        
            & > div
            {
                @include flex;
                    
                p
                {
                    margin: 0;
                }
            
                button:not(.delete-account-button),
                a
                {
                    @include button($bg-color: transparent, $has-padding: false, $has-border: false, $hover-effect: no-text-decoration);
        
                    text-decoration: underline;
                }

                & > :not(:first-child)
                {
                    margin-left: $standard-spacing;
                }
            }
        
            #language-select,
            &#change-background .reset
            {
                display: none;
            }
        
            &:not(:last-child)
            {
                margin-bottom: $standard-spacing;
            }
        }

        @at-root .delete-account-button
        {
            @include button($bg-color: #fa4b4b, $color: white, $border-color: #fa4b4b, $hover-effect: underline);
        
            text-decoration: none;
            padding-top: 0;
            padding-bottom: 0;
        }

        @at-root #language-select
        {
            @include select($border-color: $primary-color);

            width: 100%;
            margin-bottom: $standard-spacing;
        }

        &.selected
        {
            display: block;
        }
    }
}