.settings main
{
    height: calc(100% - #{$header-height});
    padding: 0 $standard-spacing;
    background-color: rgba($primary-color, 0.5);

    .settings-section
    {
        margin: $standard-spacing 0;
        display: none;

        .setting
        {
            h1
            {
                margin: 0;
                font-weight: $bold;
                font-size: xx-large;
            }
        
            & > div
            {
                p
                {
                    margin-bottom: 0;

                    span
                    {
                        font-weight: $black;
                    }
                }
            
                button,
                a
                {
                    @include button($bg-color: rgba($primary-color, 0.5), $hover-color: $primary-color);

                    width: 100%;
                }

                a
                {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

                .delete-account-button:not(.blocked):not(:disabled)
                {
                    &:focus,
                    &:hover
                    {
                        color: white;
                        background-color: red;
                        border-color: red;
                    }
                }

                & > *
                {
                    margin-top: $standard-spacing;
                }
            }
        
            #language-select
            {
                display: none;
            }
        
            &:not(:last-child)
            {
                margin-bottom: $standard-spacing;
            }
        }

        @at-root #language-select
        {
            @include select($border-color: $primary-color);

            width: 100%;
            margin-bottom: $standard-spacing;
        }

        &.selected
        {
            display: block;
        }
    }
}