.settings main
{
    height: calc(100% - #{$header-height});
    padding: 0 $standard-spacing;
    background-color: rgba($primary-color, 0.5);

    .settings-section
    {
        height: calc(100% - 49px);
        overflow: auto;
        padding: $standard-spacing;
        margin: 0 #{-$standard-spacing};
        display: none;

        .setting
        {
            & > h1
            {
                margin: 0;
                font-weight: $bold;
                font-size: xx-large;
            }
        
            & > div
            {
                p
                {
                    margin-bottom: 0;

                    span
                    {
                        @include text-ellipsis-on-overflow;

                        font-weight: $black;
                        display: block;
                    }
                }
            
                button,
                a
                {
                    @include button($bg-color: rgba($primary-color, 0.5), $hover-color: $primary-color);

                    width: 100%;
                }

                a
                {
                    display: block;
                    text-align: center;
                    text-decoration: none;
                }

                .delete:not(.blocked):not(:disabled)
                {
                    &:focus,
                    &:hover
                    {
                        color: white;
                        background-color: red;
                        border-color: red;
                    }
                }

                & > *
                {
                    margin-top: $standard-spacing;
                }
            }
        
            #language-select,
            .date-format-options,
            .cache-size-options,
            &#change-plan .reactivate
            {
                display: none;
            }

            .cc-info
            {
                background-color: rgba($primary-color, 0.5);
                padding: $standard-spacing;
                border: $border-width solid $secondary-color;
                border-radius: $border-radius;
                margin-top: $standard-spacing;

                span:not(:last-child)
                {
                    margin-right: $standard-spacing;
                }

                button
                {
                    margin-top: $standard-spacing;
                }
            }

            .no-payment-method
            {
                font-weight: $thin;
            }

            @at-root .date-format-options
            {
                label
                {
                    display: inline-block;
                    margin-bottom: $standard-spacing / 2;
                }

                & > div > div
                {
                    @include flex;

                    margin-bottom: $standard-spacing;

                    input[type=checkbox]
                    {
                        margin: 0;
                        margin-right: $standard-spacing;
                    }

                    select
                    {
                        margin-bottom: 0;
                    }
                }
            }
        
            &:not(:last-child)
            {
                margin-bottom: $standard-spacing;
            }
        }

        @at-root body.settings select
        {
            @include select($border-color: $primary-color);

            width: 100%;
            margin-bottom: $standard-spacing;
        }

        &.selected
        {
            display: block;
        }
    }
}