service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{fileId} {
      allow read: if (isOwner() && (isVaultUnlocked() || !inVaultResource())) ||
        (resource.metadata.shared == "true" &&
        !inVaultResource());

      allow write: if isOwner() && (isVaultUnlocked() || !inVaultRequest());

      function isOwner() {
        return request.auth != null &&
          request.auth.uid == userId;
      }

      function inVaultRequest() {
        return request.resource.metadata.inVault == "true";
      }

      function inVaultResource() {
        return resource.metadata.inVault == "true";
      }

      function isVaultUnlocked() {
        return ("vaultLocked" in request.auth.token &&
        	!request.auth.token.vaultLocked) ||
          !("vaultLocked" in request.auth.token);
      }
    }
  }
}