service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/{fileId} {
      allow read: if (isOwner() && ((inVault() && isVaultUnlocked()) || !inVault())) ||
        (resource.metadata.shared == "true" &&
        !inVault());

      allow write: if isOwner() && ((inVault() && isVaultUnlocked()) || !inVault());

      function isOwner() {
        return request.auth != null &&
          request.auth.uid == userId;
      }

      function inVault() {
        return resource.metadata.inVault == "true";
      }

      function isVaultUnlocked() {
        return ("vaultLocked" in request.auth.token &&
        	!request.auth.token.vaultLocked) ||
          !("vaultLocked" in request.auth.token);
      }
    }
  }
}