<section class="settings-section" id="advanced">
    <div class="setting" id="cache-size">
        <h1 data-translation="settings->advanced->cache_size"></h1>
        <div>
            <div class="setting-status current-cache-size">
                <p data-only-translation="generic->current"></p>
                <span class="value"></span>
            </div>
            <button class="edit transparent" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
            <button class="reset transparent" data-translation="generic->reset" disabled><i class="fas fa-undo-alt"></i></button>
        </div>
        <select class="cache-size-options">
            <option value="20">20MB</option>
            <option class="default" value="40" selected>40MB</option>
            <option value="50">50MB</option>
            <option value="100">100MB</option>
        </select>
    </div>
    <div class="setting" id="delete-account">
        <h1 data-translation="settings->advanced->delete_account"></h1>
        <div><button class="delete transparent" data-translation="generic->delete"><i class="fas fa-trash"></i></button></div>
    </div>
</section>