<section class="settings-section" id="info">
    <div class="setting">
        <h1 data-translation="generic->accessibility"></h1>
        <div><a href="accessibility" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting">
        <h1 data-translation="generic->terms_of_service"></h1>
        <div><a href="terms" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting">
        <h1 data-translation="generic->privacy_policy"></h1>
        <div><a href="privacy" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting">
        <h1 data-translation="generic->cookie_policy"></h1>
        <div><a href="cookies" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting">
        <h1 data-translation="generic->contact_us"></h1>
        <div><a href="mailto:support@denvelope.com"><i class="fas fa-envelope fa-fw"></i><span data-translation="generic->contact_us"></span></a></div>
    </div>
</section>