<section class="settings-section" id="plan">
    <div class="setting" id="change-plan">
        <h1 data-translation="settings->plan->title"></h1>
        <div>
            <div class="setting-status current-plan">
                <p data-only-translation="generic->current"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status current-billing-period">
                <p data-only-translation="settings->plan->current_billing_period"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-renewal">
                <p data-only-translation="settings->plan->next_renewal"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-period-plan">
                <p data-only-translation="settings->plan->next_period_plan"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-billing-period">
                <p data-only-translation="settings->plan->next_billing_period"></p>
                <span class="value"></span>
            </div>
            <button class="manage-subscription transparent" data-translation="settings->plan->manage_subscription"></button>
            {{> plans}}
            <button class="change transparent" data-translation="settings->plan->change_plan->change" disabled><i class="fas fa-cash-register"></i></button>
        </div>
    </div>
</section>