<section class="settings-section" id="plan">
    <div class="setting" id="change-plan">
        <h1 data-translation="settings->plan->change_plan->title"></h1>
        <div>
            <p class="current-plan"></p>
            <p class="next-renewal"></p>
            <button class="reactivate" data-translation="settings->plan->reactivate_subscription"><i class="fas fa-undo-alt"></i></button>
            <div class="plans">
                <div class="plan free">
                    <h1 class="name" data-translation="settings->plan->plans->free->name"></h1>
                    <div>
                        <span class="price"></span>
                        <span class="billing-period"></span>
                    </div>
                    <p class="storage">100MB</p>
                </div>
                <div class="plan starter">
                    <h1 class="name" data-translation="settings->plan->plans->starter->name"></h1>
                    <div>
                        <span class="price"></span>
                        <span class="billing-period"></span>
                    </div>
                    <p class="storage">1GB</p>
                </div>
                <div class="plan advanced">
                    <h1 class="name" data-translation="settings->plan->plans->advanced->name"></h1>
                    <div>
                        <span class="price"></span>
                        <span class="billing-period"></span>
                    </div>
                    <p class="storage">10GB</p>
                </div>
            </div>
            <button class="change" data-translation="settings->plan->change_plan->change" disabled><i class="fas fa-cash-register"></i></button>
            <button class="delete" data-translation="generic->delete" disabled><i class="fas fa-trash"></i></button>
        </div>
    </div>
    <div class="setting" id="payment-method">
        <h1 data-translation="settings->plan->payment_method"></h1>
        <div>
            <div class="payment-methods-container"></div>
            <p class="no-payment-method" data-only-translation="settings->plan->no_payment_method"></p>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
        </div>
    </div>
</section>