<section class="settings-section" id="plan">
    <div class="setting" id="change-plan">
        <h1 data-translation="settings->plan->change_plan->title"></h1>
        <div>
            <p></p>
            <div class="plans">
                <div class="plan free">
                    <h2 class="name" data-translation="settings->plan->plans->free->name"></h2>
                    <p class="price"></p>
                </div>
                <div class="plan premium">
                    <h2 class="name" data-translation="settings->plan->plans->premium->name"></h2>
                    <p class="price"></p>
                </div>
            </div>
            <button class="change" data-translation="settings->plan->change_plan->change" disabled><i class="fas fa-cash-register"></i></button>
        </div>
    </div>
</section>