<section class="settings-section" id="plan">
    <div class="setting" id="change-plan">
        <h1 data-translation="settings->plan->title"></h1>
        <div class="info">
            <i class="fas fa-info-circle"></i>
            <p data-translation="settings->plan->info"></p>
        </div>
        <div>
            <div class="setting-status current-plan">
                <p data-only-translation="generic->current"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status current-billing-period">
                <p data-only-translation="settings->plan->current_billing_period"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-renewal">
                <p data-only-translation="settings->plan->next_renewal"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-period-plan">
                <p data-only-translation="settings->plan->next_period_plan"></p>
                <span class="value"></span>
            </div>
            <div class="setting-status next-billing-period">
                <p data-only-translation="settings->plan->next_billing_period"></p>
                <span class="value"></span>
            </div>
            {{#if false}}
            <button class="manage-subscription transparent" data-translation="settings->plan->manage_subscription"></button>
            {{/if}}
            <a class="complete-payment transparent" target="_blank" data-translation="settings->plan->complete_payment"></a>
            <button class="cancel-downgrade transparent" data-translation="settings->plan->cancel_downgrade"><i class="fas fa-undo-alt"></i></button>
            <button class="reactivate transparent" data-translation="settings->plan->reactivate_subscription"><i class="fas fa-undo-alt"></i></button>
            {{> plans}}
            <button class="change transparent" data-translation="settings->plan->change_plan->change" disabled><i class="fas fa-cash-register"></i></button>
            <button class="delete transparent" data-translation="generic->delete" disabled><i class="fas fa-trash"></i></button>
            <div id="payment-request-button"></div>
        </div>
    </div>
    <div class="setting" id="payment-methods">
        <h1 data-translation="settings->plan->payment_methods->title"></h1>
        <div>
            <div class="payment-methods-container"></div>
            <p class="no-payment-method" data-only-translation="settings->plan->no_payment_method"></p>
            <button class="add" data-translation="generic->add"><i class="fas fa-plus"></i></button>
        </div>
    </div>
</section>