<section class="settings-section" id="privacy">
    <div class="setting" id="empty-cache">
        <h1 data-translation="settings->advanced->empty_cache"></h1>
        <div><button class="empty" data-translation="generic->empty"><i class="fas fa-recycle"></i></button></div>
    </div>
</section>