<section class="settings-section" id="privacy">
    <div class="setting" id="clear-cache">
        <h1 data-translation="settings->privacy->clear_cache->title"></h1>
        <div><button class="clear" data-translation="settings->privacy->clear_cache->clear"><i class="fas fa-recycle"></i></button></div>
    </div>
    <div class="setting" id="tracking">
        <h1 data-translation="settings->privacy->tracking"></h1>
        <div>
            <button class="update" data-translation="generic->disable"><i class="fas fa-toggle-off"></i></button>
        </div>
    </div>
</section>