<section class="settings-section" id="security">
    <div class="setting" id="sign-out-from-all-devices">
        <h1 data-translation="settings->security->sign_out_from_all_devices"></h1>
        <div><button class="sign-out" data-translation="generic->sign_out"><i class="fas fa-sign-out-alt"></i></button></div>
    </div>
    <div class="setting" id="change-vault-pin">
        <h1 data-translation="settings->security->change_vault_pin->title"></h1>
        <div><button class="edit" data-translation="generic->edit" disabled><i class="fas fa-edit"></i></button></div>
    </div>
    <div class="setting" id="delete-vault">
        <h1 data-translation="settings->security->delete_vault"></h1>
        <div><button class="delete" data-translation="generic->delete" disabled><i class="fas fa-trash"></i></button></div>
    </div>
</section>