<section class="settings-section" id="security">
    <div class="setting" id="sign-out-from-all-devices">
        <h1 data-translation="settings->security->sign_out_from_all_devices"></h1>
        <div><button class="sign-out transparent" data-translation="generic->sign_out"><i class="fas fa-sign-out-alt"></i></button></div>
    </div>
    <div class="setting" id="vault">
        <h1 data-translation="generic->vault"></h1>
        <div>
            <button class="change-pin transparent" data-translation="settings->security->vault->change_pin" disabled><i class="fas fa-edit"></i></button>
            <button class="generate-recovery-code transparent" data-translation="settings->security->vault->generate_recovery_code" disabled><i class="fas fa-file-alt"></i></button>
            <button class="delete transparent" data-translation="generic->delete" disabled><i class="fas fa-trash"></i></button>
        </div>
    </div>
</section>