<section class="settings-section {{#ifStringEquals section "advanced"}} selected {{/ifStringEquals}}" id="advanced">
    <div class="setting" id="delete-account-setting">
        <h2 data-translation="settings->advanced->delete_account"></h2>
        <div><button class="delete delete-account-button" data-translation="generic->delete"></button></div>
    </div>
</section>