<div class="context-menu-container">
    <div class="context-menu">
        <div id="cm-content">
            <button id="cm-view" data-translation="generic->view" data-index="0"><i class="fas fa-eye fa-fw"></i></button>
            <button id="cm-save" data-translation="generic->save" data-index="1"><i class="fas fa-save fa-fw"></i></button>
            <button id="cm-save-to-my-account" data-translation="generic->save_to_my_account" data-index="2"><i class="fas fa-file-export fa-fw"></i></button>
            <button id="cm-share" data-translation="generic->share" data-index="3"><i class="fas fa-share fa-fw"></i></button>
            <button id="cm-sharing-options" data-translation="generic->sharing_options" data-index="4"><i class="fas fa-share fa-fw"></i></button>
            <button id="cm-copy-shareable-link" data-translation="generic->copy_shareable_link" data-index="5"><i class="fas fa-link fa-fw"></i></button>
            <button id="cm-unshare" data-translation="generic->unshare" data-index="6"><i class="fas fa-unlink fa-fw"></i></button>
            <button id="cm-move" data-translation="generic->move" data-index="7"><i class="fas fa-arrows-alt fa-fw"></i></button>
            <button id="cm-add-to-starred" data-translation="generic->add_to_starred" data-index="8"><i class="fas fa-star fa-fw"></i></button>
            <button id="cm-remove-from-starred" data-translation="generic->remove_from_starred" data-index="9"><i class="fas fa-star fa-fw"></i></button>
            <button id="cm-rename" data-translation="generic->rename" data-index="10"><i class="fas fa-edit fa-fw"></i></button>
            <button id="cm-info" data-translation="generic->info" data-index="11"><i class="fas fa-info-circle fa-fw"></i></button>
            <button id="cm-download" data-translation="generic->download" data-index="12"><i class="fas fa-download fa-fw"></i></button>
            <button id="cm-restore" data-translation="generic->restore" data-index="13"><i class="fas fa-trash-restore fa-fw"></i></button>
            <button id="cm-delete" data-translation="generic->delete" data-index="14"><i class="fas fa-trash fa-fw"></i></button>
            <button id="cm-display-image" data-translation="account->display_image" data-index="15"><i class="fas fa-image fa-fw"></i></button>
            <button id="cm-display-pdf" data-translation="account->display_pdf" data-index="16"><i class="fas fa-file-pdf fa-fw"></i></button>
            <button id="cm-validate-xml" data-translation="account->validate_xml" data-index="17"><i class="fas fa-file-alt fa-fw"></i></button>
            <button id="cm-validate-json" data-translation="account->validate_json" data-index="18"><i class="fas fa-file-alt fa-fw"></i></button>
        </div>
        <div id="cm-generic">
            <button id="cm-add-files" data-translation="account->add_files" data-keyboard-shortcut="o"><i class="fas fa-file fa-fw"></i></button>
            <button id="cm-add-folder" data-translation="account->add_folder" data-keyboard-shortcut="shift+o"><i class="fas fa-folder fa-fw"></i></button>
            <button id="cm-create-file" data-translation="account->create_file" data-keyboard-shortcut="n"><i class="fas fa-file-code fa-fw"></i></button>
            <button id="cm-create-folder" data-translation="account->create_folder" data-keyboard-shortcut="shift+n"><i class="fas fa-folder-plus fa-fw"></i></button>
        </div>
        <div id="cm-vault">
            <button id="cm-create-vault" data-translation="account->create_vault"><i class="fas fa-archive fa-fw"></i></button>
            <button id="cm-lock" data-translation="generic->lock"><i class="fas fa-lock fa-fw"></i></button>
            <button id="cm-unlock" data-translation="generic->unlock"><i class="fas fa-lock-open fa-fw"></i></button>
        </div>
        <div id="cm-tools"></div>
        <div id="move-selector">
            <button class="back" data-translation="generic->back"><i class="fas fa-arrow-left"></i></button>
            <button class="move-here" data-translation="account->context_menu->move->here"></button>
            <div class="options"></div>
            {{> spinner}}
        </div>
    </div>
</div>