<!DOCTYPE html>
<html>
<head>
    <base href="/">
    {{> defaulttags version=cssversion}}
    <title data-only-translation="generic->cookie_policy"></title>
</head>
<body class="preload">
    {{> header logoRedirectPath=logoRedirectPath}}
    <main class="cookies">
        <h1 data-translation="generic->cookie_policy"></h1>
        <h2 data-translation="generic->cookies"></h2>
        <p data-start-translation="cookies->text">:</p>
        <ul>
            <li data-translation="cookies->why->access_services"></li>
            <li data-translation="cookies->why->remember_settings"></li>
            <li data-translation="cookies->why->secure_account"></li>
            <li data-translation="cookies->why->improve_services"></li>
        </ul>
        <h2 data-translation="cookies->opt_out->title"></h2>
        <p data-translation="cookies->opt_out->text"></p>
    </main>
    {{> footer year=year}}
    {{> firebase auth=true firestore=true}}
    <script type="module" src="assets/js/{{jsversion}}"></script>
</body>
</html>