<div class="show-file"><nav class="tabs"></nav><div class="editor" id="editor"></div></div>
<script src="editor/0.20.0/min/vs/loader.js"></script>
<script>require.config({paths: {"vs": "editor/0.20.0/min/vs"}});</script>
<script defer src="editor/0.20.0/min/vs/editor/editor.main.nls.js"></script>
<script defer src="editor/0.20.0/min/vs/editor/editor.main.js"></script>