<section class="settings-section" id="general">
    <div class="setting" id="change-language">
        <h1 data-translation="generic->language"></h1>
        <div>
            <p></p>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
        </div>
        <select name="language" id="language-select">
            <option value="en-US">English (United States)</option>
            <option value="it-IT">Italiano</option>
        </select>
    </div>
    <div class="setting" id="change-background">
        <h1 data-translation="settings->general->background"></h1>
        <div>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
            <button class="reset" data-translation="generic->reset" disabled><i class="fas fa-undo-alt"></i></button>
        </div>
    </div>
    <div class="setting" id="date-format">
        <h1 data-translation="settings->general->date_format"></h1>
        <div>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
            <button class="reset" data-translation="generic->reset" disabled><i class="fas fa-undo-alt"></i></button>
        </div>
        <div class="date-format-options">
            <div>
                <p>weekday:</p>
                <div>
                    <input type="checkbox" id="show-weekday">
                    <select id="weekday">
                        <option value="long">long</option>
                        <option value="short">short</option>
                        <option value="narrow">narrow</option>
                    </select>
                </div>
            </div>
            <div>
                <p>era:</p>
                <div>
                    <input type="checkbox" id="show-era">
                    <select id="era">
                        <option value="long">long</option>
                        <option value="short">short</option>
                        <option value="narrow">narrow</option>
                    </select>
                </div>
            </div>
            <div>
                <p>year:</p>
                <select id="year">
                    <option value="numeric" selected>numeric</option>
                    <option value="2-digit">2-digit</option>
                </select>
            </div>
            <div>
                <p>month:</p>
                <select id="month">
                    <option value="numeric">numeric</option>
                    <option value="2-digit" selected>2-digit</option>
                    <option value="long">long</option>
                    <option value="short">short</option>
                    <option value="narrow">narrow</option>
                </select>
            </div>
            <div>
                <p>day:</p>
                <select id="day">
                    <option value="numeric">numeric</option>
                    <option value="2-digit" selected>2-digit</option>
                </select>
            </div>
            <div>
                <p>hour:</p>
                <select id="hour">
                    <option value="numeric" selected>numeric</option>
                    <option value="2-digit">2-digit</option>
                </select>
            </div>
            <div>
                <p>minute:</p>
                <select id="minute">
                    <option value="numeric" selected>numeric</option>
                    <option value="2-digit">2-digit</option>
                </select>
            </div>
            <div>
                <p>second:</p>
                <div>
                    <input type="checkbox" id="show-second" checked>
                    <select id="second">
                        <option value="numeric" selected>numeric</option>
                        <option value="2-digit">2-digit</option>
                    </select>
                </div>
            </div>
            <div>
                <p>timeZoneName:</p>
                <div>
                    <input type="checkbox" id="show-timeZoneName" checked>
                    <select id="timeZoneName">
                        <option value="long">long</option>
                        <option value="short" selected>short</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</section>