<section class="settings-section {{#ifStringEquals section "general"}} selected {{/ifStringEquals}}" id="general">
    <div class="setting" id="language-setting">
        <h2 data-translation="generic->language"></h2>
        <div>
            <p></p>
            <button data-translation="generic->edit"></button>
        </div>
        <select name="language" id="language-select">
            <option value="0" data-language="en-US">English (US)</option>
            <option value="1" data-language="it-IT">Italiano</option>
        </select>
    </div>
</section>