<section class="settings-section" id="general">
    <div class="setting" id="change-language">
        <h1 data-translation="generic->language"></h1>
        <div>
            <p></p>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
        </div>
        <select name="language" id="language-select">
            <option value="0" data-language="en-US">English (United States)</option>
            <option value="1" data-language="it-IT">Italiano</option>
        </select>
    </div>
    <div class="setting" id="change-background">
        <h1 data-translation="settings->general->background"></h1>
        <div>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
            <button class="reset" data-translation="generic->reset" disabled><i class="fas fa-undo-alt"></i></button>
        </div>
    </div>
    <div class="setting" id="date-format">
        <h1 data-translation="settings->general->date_format"></h1>
        <div>
            <button class="edit" data-translation="generic->edit"><i class="fas fa-edit"></i></button>
            <button class="reset" data-translation="generic->reset"><i class="fas fa-undo-alt"></i></button>
        </div>
        <div class="date-params"></div>
    </div>
</section>