<section class="settings-section {{#ifStringEquals section "general"}} selected {{/ifStringEquals}}" id="general">
    <div class="setting" id="change-language">
        <h2 data-translation="generic->language"></h2>
        <div>
            <p></p>
            <button class="edit" data-translation="generic->edit"></button>
        </div>
        <select name="language" id="language-select">
            <option value="0" data-language="en-US">English (United States)</option>
            <option value="1" data-language="it-IT">Italiano</option>
        </select>
    </div>
    <div class="setting" id="change-background">
        <h2 data-translation="account->change_background"></h2>
        <div>
            <button class="edit" data-translation="generic->edit"></button>
            <button class="reset" data-translation="generic->reset"></button>
        </div>
    </div>
</section>