<div class="cookie-banner">
    <i class="fas fa-exclamation-circle"></i>
    <p data-start-translation="cookie_banner->text">
        <br>
        <a href="cookies" data-translation="cookie_banner->learn_more"></a>
    </p>
    <i class="fas fa-times"></i>
</div>
<div class="generic-message">
    <p></p>
    <button class="action"></button>
    <button class="dismiss"><i class="fas fa-times"></i></button>
    {{> spinner}}
</div>
{{> modal}}
<div class="firebaseui-auth-container"><button class="close"><i class="fas fa-times"></i></button></div>
<header>
    <div class="logo">
        <a href="{{logoRedirectPath}}">
            <img src="assets/brand/logos/denvelope.svg?v=hcedZCVqhy" alt="Denvelope">
        </a>
    </div>
    <div class="waiting-user">{{> spinner}}</div>
    <button class="sign-in logged-out" data-translation="generic->sign_in"></button>
    <div class="menu-toggle logged-in">
        <button>
            <img src="" data-update-field="photo">
        </button>
    </div>
</header>
<div class="menu-container">
    <div class="menu logged-in">
        <div class="user">
            <img src="" data-update-field="photo">
            <p data-update-field="name"></p>
            <p data-update-field="email"></p>
        </div>
        <a href="account" class="account" data-translation="generic->account" data-keyboard-shortcut="a"><i class="fas fa-user"></i></a>
        <a href="settings" class="settings" data-translation="generic->settings" data-keyboard-shortcut="s"><i class="fas fa-cog"></i></a>
        <button class="sign-out" data-translation="generic->sign_out" data-keyboard-shortcut="e"><i class="fas fa-sign-out-alt"></i></button>
        <hr>
        <div class="storage logged-in">
            <p>
                <span data-update-field="used-storage" data-bytes="">{{> spinner}}</span>
                <span data-translation="header->storage->of"></span>
                <span data-update-field="max-storage" data-bytes="">{{> spinner}}</span>
                <span data-translation="header->storage->used"></span>
                <span data-update-field="used-storage-percent"></span>
            </p>
            <div class="used-container"><div class="used"></div></div>
            <a href="/account" class="storage-info" data-translation="account->what_is_taking_up_space"></a>
        </div>
        <hr>
        {{> buymeacoffee}}
        <hr>
        <button class="install-pwa" data-translation="generic->install"><i class="fas fa-arrow-alt-circle-down"></i></button>
        <hr>
        <div class="links">
            <div class="legal">
                <a href="privacy" target="_blank" class="privacy" data-translation="generic->privacy_policy"></a>
                <span>&bull;</span>
                <a href="terms" target="_blank" class="terms" data-translation="generic->terms_of_service"></a>
            </div>
            <a href="accessibility" target="_blank" class="accessibility" data-translation="generic->accessibility"></a>
        </div>
    </div>
</div>