<div class="generic-message">
    <p></p>
    <button class="action"></button>
    <button class="dismiss"><i class="fas fa-times"></i></button>
    {{> spinner}}
</div>
{{> modal}}
<div class="firebaseui-auth-container"></div>
<header>
    <div class="logo">
        <a href="{{logoRedirectPath}}">
            <img src="assets/brand/logos/denvelope.svg?v=hcedZCVqhy" alt="Denvelope">
        </a>
    </div>
    <div class="waiting-user">{{> spinner}}</div>
    <button class="sign-in signed-out" data-translation="generic->sign_in"></button>
    <div class="menu-toggle signed-in">
        <button data-keyboard-shortcut="m">
            <img src="" data-update-field="photo">
        </button>
    </div>
</header>
<div class="menu-container">
    <div class="menu signed-in">
        <div class="user">
            <img src="" data-update-field="photo">
            <p data-update-field="name"></p>
            <p data-update-field="email"></p>
        </div>
        <a href="account" class="button" data-translation="generic->account" data-keyboard-shortcut="a"><i class="fas fa-user"></i></a>
        <a href="settings" class="button" data-translation="generic->settings" data-keyboard-shortcut="s"><i class="fas fa-cog"></i></a>
        <button class="sign-out" data-translation="generic->sign_out" data-keyboard-shortcut="e"><i class="fas fa-sign-out-alt"></i></button>
        <hr>
        <div class="storage signed-in">
            <p>
                <span data-update-field="used-storage" data-bytes="">{{> spinner}}</span>
                <span data-translation="header->storage->of"></span>
                <span data-update-field="max-storage" data-bytes="">{{> spinner}}</span>
                <span data-translation="header->storage->used"></span>
                <span data-update-field="used-storage-percent"></span>
            </p>
            <div class="used-container"><div class="used"></div></div>
            <a href="/settings/plan" class="upgrade-plan button" data-translation="account->upgrade_plan"><i class="fas fa-arrow-circle-up"></i></a>
            <a href="/account/storage/info" class="storage-info button" data-translation="account->what_is_taking_up_space"><i class="fas fa-chart-pie"></i></a>
        </div>
        <hr>
        <button class="install-pwa" data-translation="generic->install"><i class="fas fa-arrow-alt-circle-down"></i></button>
        <hr>
        <div class="links">
            <div class="legal">
                <a href="privacy" target="_blank" data-translation="generic->privacy_policy"></a>
                <span>&bull;</span>
                <a href="terms" target="_blank" data-translation="generic->terms_of_service"></a>
            </div>
            <a href="accessibility" target="_blank" data-translation="generic->accessibility"></a>
        </div>
    </div>
</div>

<!-- START - Service Termination Message -->
<script>
    alert("The service will be terminated on February 1, 2021.\nEverything will be removed from our systems, so make sure to back up important files beforehand.");
</script>
<!-- END - Service Termination Message -->