<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta name="description" data-content-translation="home->description">
    {{> defaulttags version=cssversion}}
    <link rel="alternate" hreflang="en" href="https://denvelope.com"/>
    <link rel="alternate" hreflang="it" href="https://denvelope.com/it"/>
    <link rel="preconnect" href="//www.gstatic.com">
    <link rel="preconnect" href="//fonts.gstatic.com">
    <title>Denvelope</title>
</head>
<body class="preload home-page">
    {{> header logoRedirectPath=logoRedirectPath}}
    <div class="home-hero">
        <img src="assets/img/miscellaneous/web-developer.svg" alt="">
        <div class="text">
            <h1 data-translation="home->hero->heading"></h1>
            <h2 data-translation="home->hero->subheading"></h2>
        </div>
        <button class="sign-in signed-out" data-translation="generic->sign_in"></button>
        <a href="/account" class="go-to-account button signed-in" data-translation="account->goto"></a>
    </div>
    <section class="home-features">
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/privacy.svg" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->privacy->title"></h1>
                <p data-translation="home->feature_section->privacy->description"></p>
            </div>
        </div>
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/file-sync.svg" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->store->title"></h1>
                <p data-translation="home->feature_section->store->description"></p>
            </div>
        </div>
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/source-code.svg" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->view_edit->title"></h1>
                <p data-translation="home->feature_section->view_edit->description"></p>
            </div>
        </div>
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/share.svg" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->share->title"></h1>
                <p data-translation="home->feature_section->share->description"></p>
            </div>
        </div>
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/vault.svg?v=2" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->vault->title"></h1>
                <p data-translation="home->feature_section->vault->description"></p>
            </div>
        </div>
        <div class="home-feature-container">
            <img src="assets/img/miscellaneous/pwa.svg" alt="" loading="lazy">
            <div>
                <h1 data-translation="home->feature_section->pwa->title"></h1>
                <p data-translation="home->feature_section->pwa->description"></p>
            </div>
        </div>
    </section>
    {{> footer year=year}}
    {{> firebase auth=true firestore=true}}
    <script src="assets/js/{{jsversion}}"></script>
</body>
</html>