<section class="settings-section {{#ifStringEquals section "info"}} selected {{/ifStringEquals}}" id="info">
    <div class="setting" id="tos-setting">
        <h1 data-translation="generic->terms_of_service"></h1>
        <div><a href="terms" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting" id="pp-setting">
        <h1 data-translation="generic->privacy_policy"></h1>
        <div><a href="privacy" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
    <div class="setting" id="cp-setting">
        <h1 data-translation="generic->cookie_policy"></h1>
        <div><a href="cookie" target="_blank" data-translation="generic->view"><i class="fas fa-external-link-alt"></i></a></div>
    </div>
</section>