<div class="modal-container">
    <div class="modal">
        <div class="heading allow-context-menu"></div>
        <div class="content allow-context-menu"></div>
        {{> spinner}}
        <button class="confirm-button confirm" data-translation="generic->confirm" data-keyboard-shortcut="enter"><i class="fas fa-check"></i></button>
        <button class="update-button update" data-translation="generic->update" data-keyboard-shortcut="enter"><i class="fas fa-edit"></i></button>
        <button class="close-button close" data-translation="generic->close" data-keyboard-shortcut="esc"><i class="fas fa-times"></i></button>
    </div>
</div>