<!DOCTYPE html>
<html>
<head>
    <base href="/">
    {{> defaulttags version=cssversion}}
    <title data-only-translation="generic->plans"></title>
</head>
<body class="preload">
    {{> header logoRedirectPath=logoRedirectPath}}
    <main class="plans">
        <h1 data-translation="generic->plans"></h1>
        {{> plans}}
    </main>
    {{> footer year=year}}
    {{> firebase auth=true firestore=true}}
    <script src="assets/js/{{jsversion}}"></script>
</body>
</html>