<!DOCTYPE html>
<html>
<head>
    <base href="/">
    {{> defaulttags version=cssversion}}
    <title data-only-translation="generic->plans"></title>
</head>
<body class="preload">
    {{> header logoRedirectPath=logoRedirectPath}}
    <main class="plans">
        <h1 data-translation="generic->plans"></h1>
        <div class="plans">
            <div class="plan free">
                <h1 class="name" data-translation="settings->plan->plans->free->name"></h1>
                <div>
                    <span class="price"></span>
                    <span class="billing-period"></span>
                </div>
                <p class="storage">100MB</p>
            </div>
            <div class="plan starter">
                <h1 class="name" data-translation="settings->plan->plans->starter->name"></h1>
                <div>
                    <span class="price"></span>
                    <span class="billing-period"></span>
                </div>
                <p class="storage">1GB</p>
            </div>
            <div class="plan advanced">
                <h1 class="name" data-translation="settings->plan->plans->advanced->name"></h1>
                <div>
                    <span class="price"></span>
                    <span class="billing-period"></span>
                </div>
                <p class="storage">10GB</p>
            </div>
        </div>
    </main>
    {{> footer year=year}}
    {{> firebase auth=true firestore=true}}
    <script type="module" src="assets/js/{{jsversion}}"></script>
</body>
</html>