<section class="settings-section {{#ifStringEquals section "security"}} selected {{/ifStringEquals}}" id="security">
    <div class="setting" id="sign-out-from-all-devices">
        <h1 data-translation="settings->security->sign_out_from_all_devices"></h1>
        <div><button class="sign-out" data-translation="generic->sign_out"><i class="fas fa-sign-out-alt"></i></button></div>
    </div>
</section>