<section class="settings-section {{#ifStringEquals section "security"}} selected {{/ifStringEquals}}" id="security">
    <div class="setting" id="sign-out-from-all-devices">
        <h2 data-translation="settings->security->sign_out_from_all_devices"></h2>
        <div><button class="sign-out" data-translation="generic->sign_out"></button></div>
    </div>
</section>