@import "partials/variables";

@import "partials/globals";

@import "partials/mixins";
@import "partials/animations";

@import "partials/header";
@import "partials/home-hero";
@import "partials/home-features";
@import "partials/footer";

@import "partials/bottom-menu";
@import "partials/account-main";

@import "partials/settings";

@import "partials/miscellaneous";

@import "partials/media-queries";

html
{
    height: 100%;
    scrollbar-color: $secondary-color $primary-color;

    &:not(.signed-out) .signed-out,
    &:not(.signed-in) .signed-in
    {
        display: none;
    }

    &.wait
    {
        cursor: wait;
    }

    &.grabbing
    {
        &,
        *
        {
            cursor: grabbing !important;
        }
    }

    &.file-open
    {
        body.account
        {
            main,
            aside
            {
                display: none; // Fix keyboard navigation issue
            }
        }
    }

    &:not(.file-open):not(.signed-out)
    {
        body.account,
        body.settings
        {
            .modal.floating,
            .generic-message
            {
                bottom: $default-spacing + $bottom-menu-height;
            }
        }
    }
}

body
{
    margin: 0;
    font-family: $font-family;
    background-color: $primary-color;
    color: $secondary-color;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
    height: 100%;

    &.preload *
    {
        transition: none !important;
    }

    &.no-overflow
    {
        overflow: hidden;
    }

    &.account
    {
        display: grid;
        grid-template-rows: $header-height auto $bottom-menu-height;
    }

    &.account,
    &.settings
    {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        header
        {
            position: unset;
            backdrop-filter: unset;
            -webkit-backdrop-filter: unset;
        }
    }

    &:not(.home-page):not(.account):not(.settings)
    {
        height: calc(100% - #{$header-height});
    }
}

*
{
    box-sizing: border-box;
}

::-webkit-scrollbar
{
    width: auto;
    height: auto;
}
  
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner
{
    background-color: $primary-color;
}
  
::-webkit-scrollbar-thumb
{
    background-color: $secondary-color;
}

.modal
{
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner
    {
        background-color: $secondary-color;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: $primary-color;
    }
}

*:not([type=checkbox]):focus
{
    outline: none;
}

::-moz-focus-inner
{
    border: 0;
}