@import "partials/variables";
@import "partials/mixins";
@import "partials/animations";

@import "partials/header";
@import "partials/home-hero";
@import "partials/home-features";
@import "partials/footer";

@import "partials/account-side-menu";
@import "partials/account-main";

@import "partials/settings-menu";
@import "partials/settings";

@import "partials/privacy";

@import "partials/miscellaneous";

@import "partials/media-queries";

html
{
    height: 100%;

    .logged-in,
    .logged-out
    {
        visibility: hidden;
    }

    &.logged-out .logged-in,
    &.logged-in .logged-out
    {
        display: none;
    }

    &.logged-in .logged-in,
    &.logged-out .logged-out
    {
        visibility: visible;
    }

    &.wait
    {
        cursor: wait;
    }

    &.grabbing
    {
        &,
        *
        {
            cursor: grabbing !important;
        }
    }
}

body
{
    margin: 0;
    font-family: $font-family;
    background-color: $primary-color;
    color: $secondary-color;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: contain;
    height: 100%;

    &.preload *
    {
        transition: none !important;
    }

    &.no-overflow
    {
        overflow: hidden;
    }

    &.account,
    &.settings
    {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        header
        {
            position: unset;
            backdrop-filter: unset;
        }
    }

    &.account
    {
        .modal.floating,
        .generic-message
        {
            bottom: $standard-spacing + $account-bottom-bar-height
        }
    }

    &:not(.home-page):not(.account):not(.settings)
    {
        height: calc(100% - #{$header-height});
    }
}

*
{
    box-sizing: border-box;
}

::-webkit-scrollbar
{
    width: auto;
    height: auto;
}
  
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner
{
    background-color: $primary-color;
}
  
::-webkit-scrollbar-thumb
{
    background-color: $secondary-color;
}

*:focus
{
    outline: none;
}

::-moz-focus-inner
{
    border: 0;
}