<div class="plans">
    <div class="plan free">
        <p class="storage">100MB</p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan starter">
        <p class="storage">1GB</p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan advanced">
        <p class="storage">10GB</p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
</div>