<div class="plans">
    <div class="plan" data-max-storage="100MB">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan" data-max-storage="1GB">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan" data-max-storage="10GB">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
</div>