<div class="billing-period-choice">
    <h2 data-translation="generic->billing_period"></h2>
    <div class="billing-periods">
        <button class="month" data-translation="generic->month"></button>
        <button class="year" data-start-translation="generic->year"></button>
    </div>
</div>
<div class="plans">
    <div class="plan" data-max-storage="100MB" tabindex="0">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan" data-max-storage="1GB" tabindex="0">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
    <div class="plan" data-max-storage="10GB" tabindex="0">
        <p class="storage"></p>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
    </div>
</div>