<div class="plans">
    <div class="plan free">
        <h1 class="name" data-translation="settings->plan->plans->free->name"></h1>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
        <p class="storage">100MB</p>
    </div>
    <div class="plan starter">
        <h1 class="name" data-translation="settings->plan->plans->starter->name"></h1>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
        <p class="storage">1GB</p>
    </div>
    <div class="plan advanced">
        <h1 class="name" data-translation="settings->plan->plans->advanced->name"></h1>
        <div>
            <span class="price"></span>
            <span class="billing-period"></span>
        </div>
        <p class="storage">10GB</p>
    </div>
</div>